##
## Configuration for the file storage structure
##

phresco.maven.repository.url=http://dev-repo.photoninfotech.com:8080/nexus/content/groups/public
phresco.maven.repository.user.name=admin
phresco.maven.repository.user.password=admin123

phresco.server.dependency.config.file=/config/dependency/0.3.26004/dependency-0.3.26004.properties

phresco.ci.jenkins.config.file=/config/ci/config/0.2/config-0.2.xml
phresco.ci.credential.url=/config/ci/credential/1.0/credential-1.0.xml


##
## LDAP Configuration
##
phresco.ldap.contextfactory=com.sun.jndi.ldap.LdapCtxFactory
phresco.ldap.url=ldap://172.16.1.100:389
phresco.ldap.basedn=ou=users,ou=phresco,o=photon,dc=photoninfotech,dc=com
phresco.ldap.login.attribute=uid

#LDAP display attributes
phresco.ldap.attribute.displayName=givenName
phresco.ldap.attribute.mail=mail
