<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug="true">
	<appender name="Daily" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/phresco-auth.log"/>
		<param name="DatePattern" value="'.'dd-MM-yyyy" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSSS} %p %t %c : %m%n" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="Daily" />
	</root>
</log4j:configuration>
