phresco.maven.repository.url=http://172.16.18.178:8080/nexus/content/groups/public
phresco.maven.repository.user.name=admin
phresco.maven.repository.user.password=admin123

phresco.server.dependency.config.file=/config/dependency/1.0.1001/dependency-1.0.1001.properties

##
## LDAP Configuration
##
phresco.ldap.contextfactory=com.sun.jndi.ldap.LdapCtxFactory
phresco.ldap.url=ldap://172.16.1.100:389
phresco.ldap.basedn=ou=users,ou=phresco,o=photon,dc=photoninfotech,dc=com
phresco.ldap.login.attribute=uid

#LDAP display attributes
phresco.ldap.attribute.displayName=givenName
phresco.ldap.attribute.mail=mail
