##
## Configuration for the file storage structure
##

phresco.maven.repository.url=http://dev-repo.photoninfotech.com:8080/nexus/content/groups/testing/
phresco.maven.repository.user.name=admin
phresco.maven.repository.user.password=admin123

phresco.server.dependency.config.file=/config/dependency/1.1.0/dependency-1.1.0.properties
phresco.credential.path=/config/ci/2.0/ci-2.0.xml
phresco.authenticate.url=http://172.16.18.174:7070/auth

##
## LDAP Configuration
##
phresco.ldap.contextfactory=com.sun.jndi.ldap.LdapCtxFactory
phresco.ldap.url=ldap://172.16.1.19:389
phresco.ldap.basedn=ou=users,o=photon,dc=photoninfotech,dc=com
phresco.ldap.login.attribute=uid

#LDAP display attributes
phresco.ldap.attribute.displayName=displayName
phresco.ldap.attribute.mail=mail
phresco.ldap.attribute.phrescoEnabled=phrescoEnabled
phresco.ldap.attribute.customerName=customerName


##
## Phresco Server Context Name
##
phresco.server.context.name = service-testing
