##
## Configuration for the file storage structure
##
phresco.maven.repository.url=${phresco.repo.url}
phresco.maven.repository.user.name=dump
phresco.maven.repository.user.password=dump

phresco.server.dependency.config.file=${phresco.server.dependency.config.file}

phresco.credential.path=/config/ci/2.0/ci-2.0.xml
phresco.authenticate.url=${phresco.authenticate.url}

##
## LDAP Configuration
##
phresco.ldap.contextfactory=com.sun.jndi.ldap.LdapCtxFactory
phresco.ldap.login.attribute=${phresco.ldap.login.attribute}
phresco.ldap.url=${phresco.ldap.url}
phresco.ldap.basedn=${phresco.ldap.basedn}

#LDAP display attributes
phresco.ldap.attribute.displayName=displayName
phresco.ldap.attribute.mail=mail
phresco.ldap.attribute.phrescoEnabled=phrescoEnabled
phresco.ldap.attribute.customerName=customerName


##
## Phresco Server Context Name
##
phresco.server.context.name = service-testing

##
## Phresco Db Configuration
##
db.host=localhost
db.port=27017
db.name=phresco
db.defaultcollection=phresco-service

auth.token.cache.ttl=60
