##
## Configuration for the file storage structure
##

phresco.maven.repository.url=http://172.16.18.178:9090/nexus/content/repositories/auto-releases
#phresco.maven.repository.user.name=deployer
#phresco.maven.repository.user.password=deployer123

phresco.maven.repository.user.name=admin
phresco.maven.repository.user.password=admin123

phresco.server.dependency.config.file=/config/dependency/0.3.25002-SNAPSHOT/dependency.properties

phresco.ci.jenkins.config.file=/config/ci/config/0.2/config-0.2.xml

##
## LDAP Configuration
##
phresco.ldap.contextfactory=com.sun.jndi.ldap.LdapCtxFactory
phresco.ldap.url=ldap://172.16.1.100:389
phresco.ldap.basedn=ou=users,ou=phresco,o=photon,dc=photoninfotech,dc=com
phresco.ldap.login.attribute=uid

#LDAP display attributes
phresco.ldap.attribute.displayName=givenName
phresco.ldap.attribute.mail=mail
