##
## Configuration path for server base url
##

phresco.server.url=http://phresco.photoninfotech.com/service

phresco.ci.jenkins.url=http://localhost:3579/ci/
phresco.ci.jenkins.build.count=5

phresco.project.code=PHR_
phresco.code.sonar.reports.path=/sonar/dashboard/index/com.photon.phresco:
phresco.framework.cache.enabled=false
