<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1f0f1577-bc5a-4c10-9a06-f939dc76a130" Publisher="CN=ganesan_m" Version="1.0.0.3" />
  <Properties>
    <DisplayName>HSNLive</DisplayName>
    <PublisherDisplayName>ganesan_m</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application EntryPoint="HSNLive.UI.App" Executable="$targetnametoken$.exe" Id="App">
      <VisualElements BackgroundColor="#000000" Description="Provide a World Class social shopping experience watching HSN Live in Smooth Streaming HD, chat with friends and show hosts, and view / purchase products for Windows 8 Metro consumers globally." DisplayName="MetroUI" ForegroundText="light" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen BackgroundColor="#FFFFFF" Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>

